::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar {
  background-color: #DDD;
  color: #DDD;
}

::-webkit-scrollbar-thumb {
  background-image: initial;
  background-color: #414850;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 976px) {
  .container {
    max-width: 976px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
body {
  margin: 0 auto;
  scroll-behavior: smooth;
  font-family: "Rosario", sans-serif;
}

.btn {
  padding: 8px 14px;
  background-color: #95AEAB;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  text-decoration: none;
}
.btn:hover {
  background-color: #789894;
}

#header-main {
  width: 100%;
  height: 125px;
}
#header-main .Header-Bar {
  width: auto;
  padding: 0 30px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
#header-main .Header-Bar .Logo-Header {
  height: 100%;
  display: flex;
  padding: 6px 0;
}
#header-main .Header-Bar .Logo-Header .image-Logo-Header {
  width: 100px;
  height: 100px;
}
#header-main .Header-Bar .Text-Header {
  height: 100%;
  display: flex;
  align-items: center;
}
#header-main .Header-Bar .Text-Header .nav-menu {
  display: flex;
  list-style: none;
}
#header-main .Header-Bar .Text-Header .nav-menu li {
  text-align: center;
  list-style-type: none;
  font-size: 18px;
  margin: 30px 15px;
  text-decoration: none;
}
#header-main .Header-Bar .Text-Header .nav-menu li.active a::after {
  width: 80%;
}
#header-main .Header-Bar .Text-Header .nav-menu li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: normal;
  padding: 12px 15px;
  display: inline-block;
  position: relative;
  font-size: 22px;
  letter-spacing: 0px;
}
#header-main .Header-Bar .Text-Header .nav-menu li a:hover::after, #header-main .Header-Bar .Text-Header .nav-menu li a.active::after {
  width: 80%;
}
#header-main .Header-Bar .Text-Header .nav-menu li a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 2px;
  width: 0;
  background-color: #414850;
  transition: width 0.3s;
}

#slider-main #hero .basis-slider .swiper {
  height: 70vh;
  width: 100%;
}
#slider-main #hero .basis-slider .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider-main #hero .basis-slider .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#slider-main #hero .basis-slider .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff !important;
}
#slider-main #hero .basis-slider .swiper .swiper-pagination .swiper-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
}
#slider-main #hero .basis-slider .swiper .swiper-button-prev, #slider-main #hero .basis-slider .swiper .swiper-button-next {
  color: #DDD !important;
}
#slider-main.slider-vervolg #hero .basis-slider .swiper {
  height: 45vh;
  width: 100%;
}

.Rectagnle-main {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: -100px;
  z-index: 1;
}
.Rectagnle-main .card {
  width: 250px;
  height: 250px;
  background-color: white;
  margin: 20px;
  position: relative;
}
.Rectagnle-main .card .ImgCard {
  width: 250px;
  height: 250px;
}
.Rectagnle-main .card .TxtCard {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  bottom: 0px;
  left: 0px;
  font-size: 25px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}

.Product-main {
  width: 100%;
  height: auto;
}
.Product-main .filters {
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.Product-main .filters select {
  padding: 6px;
  border: none;
  background: #AAA;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}
.Product-main .ProductTxt {
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
}
.Product-main .ProductCard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.Product-main .ProductCard .card {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: white;
  position: relative;
  box-shadow: 0 0 6px -3px #111;
  transition: all 0.3s;
  text-decoration: none;
  border-radius: 8px;
  color: black;
  padding: 10px;
}
.Product-main .ProductCard .card .ImageProduct {
  width: 100%;
  height: 250px;
}
.Product-main .ProductCard .card .ImgCard {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Product-main .ProductCard .card .TxtColor {
  display: flex;
}
.Product-main .ProductCard .card .TxtCard {
  width: 100%;
  height: auto;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
.Product-main .ProductCard .card .TxtCard .PrijsPproduct {
  font-size: 15px;
  text-decoration: line-through;
  color: #ddd;
}
.Product-main .ProductCard .card .TxtCard .color-wrapper {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.Product-main .ProductCard .card .TxtCard .color-wrapper input[type=color] {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Product-main .ProductCard .card:hover {
  transform: scale(1.05);
}

.Merk-main {
  width: 100%;
  height: 400px;
  margin-top: 150px;
}
.Merk-main .MerkTxt {
  font-size: 35px;
  text-align: center;
}
.Merk-main .merk-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 40px;
  text-align: center;
}
.Merk-main .merk-wrapper .MerkImages {
  position: relative;
  border: 1px solid #DDD;
  height: 100px;
  width: 100%;
}
.Merk-main .merk-wrapper .MerkImages .RowImg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.Main-categorieen {
  width: 100%;
  height: auto;
  margin: 60px auto;
}
.Main-categorieen .MerkTxt {
  font-size: 35px;
  text-align: center;
}
.Main-categorieen .merk-inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
}
.Main-categorieen .merk-inner a {
  text-decoration: none;
  font-weight: 600;
  color: #57918a;
  transition: all 0.3s;
}
.Main-categorieen .merk-inner a:hover {
  transform: scale(1.1);
}

.betaalmethode-main {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.betaalmethode-main label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.betaalmethode-main select {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: fontAwesome;
}
.betaalmethode-main input[type=text] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.betaalmethode-main input[type=submit] {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.betaalmethode-main .divInput {
  width: 100px;
  height: 35px;
  background-color: #4CAF50;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  font-family: Arial, sans-serif;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.betaalmethode-main .divInput a {
  text-decoration: none;
  color: white;
}
.betaalmethode-main .divInput:hover {
  background-color: #3e8e41;
}

.contentVervolgMain, .contentWinkelwagen, .contentProductMain {
  padding-bottom: 30px;
}
.contentVervolgMain .title, .contentWinkelwagen .title, .contentProductMain .title {
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #414850;
}
.contentVervolgMain .content, .contentWinkelwagen .content, .contentProductMain .content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.contentVervolgMain .content aside .image-wrapper, .contentWinkelwagen .content aside .image-wrapper, .contentProductMain .content aside .image-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 1rem 2rem 2rem 2rem;
}
.contentVervolgMain .content aside .image-wrapper .img, .contentWinkelwagen .content aside .image-wrapper .img, .contentProductMain .content aside .image-wrapper .img {
  height: 100%;
  width: 290px;
}
.contentVervolgMain .content aside .image-wrapper .img img, .contentWinkelwagen .content aside .image-wrapper .img img, .contentProductMain .content aside .image-wrapper .img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.contentVervolgMain .content article, .contentWinkelwagen .content article, .contentProductMain .content article {
  grid-column: span 2/span 2;
}
.contentVervolgMain #breadcrumbs ul, .contentWinkelwagen #breadcrumbs ul, .contentProductMain #breadcrumbs ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.contentVervolgMain #breadcrumbs ul li:first-of-type::after, .contentWinkelwagen #breadcrumbs ul li:first-of-type::after, .contentProductMain #breadcrumbs ul li:first-of-type::after {
  content: "\f054";
  padding: 0 8px;
  display: inline-block;
  font: normal normal normal 13px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.contentVervolgMain #breadcrumbs ul li:first-of-type a, .contentWinkelwagen #breadcrumbs ul li:first-of-type a, .contentProductMain #breadcrumbs ul li:first-of-type a {
  color: #414850;
  text-decoration: none;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #95AEAB;
  display: flex;
  justify-content: space-around;
}
footer .row1 {
  width: 300px;
  height: auto;
  text-align: center;
  align-items: center;
  margin: 30px;
}
footer .row1 .ImgFooter {
  padding-bottom: 20px;
}
footer .row1 .contactGegevens {
  padding: 10px;
}
footer .row1 .contactGegevens .Contact {
  color: blue;
  text-decoration: none;
}
footer .rowHeader, footer .rowCategorieen {
  width: 300px;
  height: auto;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .rowHeader a, footer .rowCategorieen a {
  position: relative;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 5px;
}
footer .rowHeader a:hover::after, footer .rowHeader a.active::after, footer .rowCategorieen a:hover::after, footer .rowCategorieen a.active::after {
  width: 120%;
}
footer .rowHeader a::after, footer .rowCategorieen a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 2px;
  width: 0;
  background-color: #414850;
  transition: width 0.3s;
}

.contact .Rectagnle-Contact {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.contact .Rectagnle-Contact .Rectagnle {
  width: 300px;
  height: 350px;
  border: #707070 solid 2px;
  text-align: center;
}
.contact .Rectagnle-Contact .Rectagnle .BigTXT {
  font-size: 30px;
}
.contact .Rectagnle-Contact .Rectagnle .SmallTXT {
  font-size: 20px;
}
.contact .Afspraak-Main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact .Afspraak-Main .Rectagnle {
  width: 800px;
  display: flex;
  justify-content: center;
  background-color: #ddd;
  border-radius: 15px;
  padding: 30px 0;
  box-shadow: 0 0 5px 1px #111;
}
.contact .Afspraak-Main .Rectagnle .AfspraakTXT {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.contact .Afspraak-Main .Rectagnle .form-group {
  width: 100%;
}
.contact .Afspraak-Main .Rectagnle .form-group form {
  width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
}
.contact .Afspraak-Main .Rectagnle .form-group label {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}
.contact .Afspraak-Main .Rectagnle .form-group input[type=text],
.contact .Afspraak-Main .Rectagnle .form-group input[type=date],
.contact .Afspraak-Main .Rectagnle .form-group input[type=email],
.contact .Afspraak-Main .Rectagnle .form-group input[type=time],
.contact .Afspraak-Main .Rectagnle .form-group textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
.contact .Afspraak-Main .Rectagnle .form-group input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
.contact .Afspraak-Main .Rectagnle .form-group input[type=submit]:hover {
  background-color: #3e8e41;
}

.winkelwagen-Main {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
}
.winkelwagen-Main .producten-show {
  width: 90%;
  flex-direction: column;
  display: flex;
  gap: 20px;
}
.winkelwagen-Main .producten-show .producten-aanduiding {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.winkelwagen-Main .producten-show .producten-aanduiding > div {
  text-align: center;
}
.winkelwagen-Main .producten-show .producten-aanduiding > div.afbeelding {
  grid-column: span 2/span 2;
}
.winkelwagen-Main .producten-show .producten-aanduiding > div.titel {
  grid-column: span 3/span 3;
}
.winkelwagen-Main .producten-show .producten-aanduiding > div.prijs {
  grid-column: span 2/span 2;
}
.winkelwagen-Main .showProducts {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 16px -9px #111;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.winkelwagen-Main .showProducts .ImgWinkelwagen {
  position: relative;
  width: 100%;
  height: 180px;
  padding: 10px;
  grid-column: span 2/span 2;
}
.winkelwagen-Main .showProducts .ImgWinkelwagen img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 80%;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}
.winkelwagen-Main .showProducts .winkelwagenTXT {
  margin: 20px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.winkelwagen-Main .showProducts .winkelwagenTXT.title {
  grid-column: span 3/span 3;
}
.winkelwagen-Main .showProducts .winkelwagenTXT.totaalPrijs {
  grid-column: span 2/span 2;
}
.winkelwagen-Main .showProducts .winkelwagenTXT#quantity {
  height: 35px;
  background: #95AEAB;
  color: #fff;
  border-radius: 12px;
  border: none;
  position: relative;
  display: flex;
  transform: translateY(-50%);
  top: 42%;
  padding: 10px;
}
.winkelwagen-Main .showProducts .winkelwagenTXT #deleteID {
  font-size: 36px;
  color: #95AEAB;
  transition: all 0.3s;
}
.winkelwagen-Main .showProducts .winkelwagenTXT #deleteID:hover {
  font-size: 40px;
}
.winkelwagen-Main .showProducts .winkelwagenTXT .prijs {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.winkelwagen-Main .showProducts .winkelwagenTXT .PrijsPproduct {
  font-size: 15px;
  text-decoration: line-through;
  color: #ddd;
}
.winkelwagen-Main .winkelwagenBetalen {
  position: relative;
  width: 25%;
  height: auto;
  box-shadow: 0 0 16px -9px #111;
  border-radius: 10px;
}
.winkelwagen-Main .winkelwagenBetalen hr {
  width: 95%;
}
.winkelwagen-Main .winkelwagenBetalen .Row1 {
  display: flex;
  justify-content: space-between;
}
.winkelwagen-Main .winkelwagenBetalen .Row1 .winkelwagenTXT {
  padding: 10px;
  font-size: 20px;
}
.winkelwagen-Main .winkelwagenBetalen .divInput {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
}
.winkelwagen-Main .winkelwagenBetalen .divInput .winkelwagenInput {
  width: 100px;
  height: 35px;
  background-color: #95AEAB;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  font-family: Arial, sans-serif;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.winkelwagen-Main .winkelwagenBetalen .divInput .winkelwagenInput:hover {
  background-color: #3e8e41;
}

.lege-winkelmand p {
  margin: 0;
}

.Review {
  width: 100%;
}
.Review .ReviewRow1 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.Review .ReviewRow1 .swiper-wrapper {
  padding: 10px;
  gap: 20px;
}
.Review .ReviewRow1 .swiperReview-pagination .swiperReview-pagination-bullet-active {
  background: #fff !important;
}
.Review .ReviewRow1 .swiperReview-pagination .swiperReview-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
}
.Review .ReviewRow1 .swiperReview-button-prev, .Review .ReviewRow1 .swiperReview-button-next {
  color: #DDD !important;
}
.Review .ReviewRow1 .ReviewCard {
  width: 100%;
  height: 100%;
  padding: 10px 10px 30px 10px;
  box-shadow: 0 0 6px -3px #111;
  text-align: center;
  border-radius: 10px;
}
.Review .ReviewRow1 .ReviewCard .ImageWrapper {
  height: 100px;
  width: 100px;
  padding: 10px;
}
.Review .ReviewRow1 .ReviewCard .ImageWrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.Review .ReviewRow1 .ReviewCard .reviewTxt {
  font-size: 20px;
  margin: 10px;
}
.Review .ReviewRow1 .ReviewCard .reviewTxt .fa-star {
  color: #e0d423;
}

.footerEnd {
  width: 100%;
  height: 50px;
  background-color: #DDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerEnd .FooterEndContactLeft {
  margin-left: 10px;
}
.footerEnd .FooterEndContactRight {
  margin-right: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */