@mixin mq($media) {
    @media only screen and (max-width: $media) { @content; }
}

@mixin mm($media) {
    @media only screen and (min-width: $media) { @content; }
}

@mixin mm-mx($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) { @content; }
}

$primary-color: #DDD;


header
{
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #707070;

    @include mq(1400px){
        background-color: green;
    }
    @include mm-mx(1400px, 1440px){
        background-color: red;
    }
    @include mm(1440px){
        background-color: $primary-color;
    }
}