body {
  margin: 0 auto;
  scroll-behavior: smooth;
  font-family: "Rosario", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar {
  background-color: #DDD;
  color: #DDD;
}

::-webkit-scrollbar-thumb {
  background-image: initial;
  background-color: #414850;
}

.btn {
  padding: 8px 18px;
  background-color: #414850;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 17px;
  text-decoration: none;
}

.open_menu {
  display: block !important;
}

#login-main {
  height: 100%;
  width: 100%;
}
#login-main #logincontainer {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
#login-main #logincontainer #login_form .logologin {
  border-radius: 1rem;
}
#login-main #logincontainer #login_form .inlogkop {
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}
#login-main #logincontainer #login_form .foutlogin {
  text-align: center;
  padding-bottom: 12px;
  color: #a71b1b;
}
#login-main #logincontainer #login_form .inlog-inner {
  display: flex;
  gap: 4px;
}
#login-main #logincontainer #login_form .inlog-inner .logindiv {
  background: #414850;
  padding: 12px;
  position: relative;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}
#login-main #logincontainer #login_form .inlog-inner .logindiv .fa {
  color: #fff;
}
#login-main #logincontainer #login_form .inlog-inner .logindiv .fa.fa-eye {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#login-main #logincontainer #login_form .inlog-inner .logindiv input {
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
}
#login-main #logincontainer #login_form .inlog-inner button[type=submit] {
  border-radius: 5px;
  padding: 0px 15px;
  font-size: 18px;
  border: none;
  color: #fff;
  background: #414850;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
}
header #topbar {
  display: flex;
  padding: 1rem;
  height: 98px;
  background-color: rgba(65, 72, 80, 0.5215686275);
  align-items: center;
  justify-content: space-between;
}
header #topbar #logo {
  border-radius: 12px;
}
header #topbar .right {
  display: flex;
  gap: 30px;
  margin: 0 40px;
}
header #topbar .right #nieuw, header #topbar .right #gebruiker {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
header #topbar .right #nieuw .nieuw_menu, header #topbar .right #nieuw .gebruiker_menu, header #topbar .right #gebruiker .nieuw_menu, header #topbar .right #gebruiker .gebruiker_menu {
  position: relative;
  padding-bottom: 3px;
}
header #topbar .right #nieuw .nieuw_menu::after, header #topbar .right #nieuw .gebruiker_menu::after, header #topbar .right #gebruiker .nieuw_menu::after, header #topbar .right #gebruiker .gebruiker_menu::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 2px;
  width: 0;
  background-color: #414850;
  transition: width 0.3s;
}
header #topbar .right #nieuw .nieuw_opties, header #topbar .right #nieuw .gebruiker_opties, header #topbar .right #gebruiker .nieuw_opties, header #topbar .right #gebruiker .gebruiker_opties {
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-top: 8px;
}
header #topbar .right #nieuw .nieuw_opties a, header #topbar .right #nieuw .gebruiker_opties a, header #topbar .right #gebruiker .nieuw_opties a, header #topbar .right #gebruiker .gebruiker_opties a {
  padding: 5px 10px;
  background: #DDD;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  color: #414850;
  transition: all 0.3s;
}
header #topbar .right #nieuw .nieuw_opties a:hover, header #topbar .right #nieuw .gebruiker_opties a:hover, header #topbar .right #gebruiker .nieuw_opties a:hover, header #topbar .right #gebruiker .gebruiker_opties a:hover {
  transform: scale(1.1);
}
header #topbar .right #nieuw:hover .nieuw_menu::after, header #topbar .right #nieuw:hover .gebruiker_menu::after, header #topbar .right #gebruiker:hover .nieuw_menu::after, header #topbar .right #gebruiker:hover .gebruiker_menu::after {
  width: 110%;
}
header #topbar .right #nieuw:hover .nieuw_opties, header #topbar .right #nieuw:hover .gebruiker_opties, header #topbar .right #gebruiker:hover .nieuw_opties, header #topbar .right #gebruiker:hover .gebruiker_opties {
  opacity: 1;
}

main {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
main aside {
  position: fixed;
  background-color: #414850;
  height: 100%;
  width: 20%;
  margin-top: 130px;
  border-radius: 0 12px 0 0;
}
main aside #hoofdmenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
main aside #hoofdmenu #title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  font-size: 22px;
  color: #fff;
}
main aside #hoofdmenu li {
  background-color: #58616c;
  border-top: solid 1px #fff;
}
main aside #hoofdmenu li:last-of-type {
  border-bottom: solid 1px #fff;
}
main aside #hoofdmenu li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  gap: 10px;
  font-size: 16px;
  width: 84%;
  padding: 1.5rem;
  transition: all 0.3s;
}
main aside #hoofdmenu li a:hover {
  box-shadow: 0px 0px 9px 0px #DDD;
}
main article {
  grid-column: span 4/span 4;
  grid-column-start: 2;
  margin-top: 130px;
  padding: 1rem 2rem 1rem 2rem;
  position: relative;
}
main article .TerugBtn {
  padding: 8px 18px;
  background-color: #414850;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
main article section#paginaBewerken {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
main article section#paginaBewerken .left {
  grid-column: span 3/span 3;
}
main article section#paginaBewerken .right {
  grid-column: span 2/span 2;
}
main article section#paginaBewerken .right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem 2rem 1rem 2rem;
}
main article section#paginaBewerken .right form input[type=file] {
  position: relative;
  height: 25px;
  display: flex;
  font-size: 18px;
  padding: 10px;
}
main article section#paginaBewerken .right form input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
main article section#paginaBewerken .right form input[type=file]::before {
  content: "selecteren";
  display: block;
  background: #414850;
  color: #fff;
  font-size: 14px;
  width: auto;
  padding: 13px 25px 0px 25px;
  border-radius: 0px 5px 5px 0px;
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
}
main article section#paginaBewerken .right .image-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
  max-height: 300px;
  overflow: scroll;
  padding: 1rem 2rem 2rem 2rem;
}
main article section#paginaBewerken .right .image-wrapper .img {
  height: 150px;
  width: 190px;
}
main article section#paginaBewerken .right .image-wrapper .img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
main article section#webpaginas #webpaginas-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main article section#webpaginas #webpaginas-wrapper .webpagina {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
}
main article section#webpaginas #webpaginas-wrapper .webpagina:first-of-type > div {
  font-size: 18px;
  font-weight: 600;
}
main article section#webpaginas #webpaginas-wrapper .webpagina:first-of-type .pageIMG {
  height: auto;
  width: auto;
}
main article section#webpaginas #webpaginas-wrapper .webpagina .pageIMG {
  height: 110px;
  width: 110px;
}
main article section#webpaginas #webpaginas-wrapper .webpagina .pageIMG img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
main article section#webpaginas #webpaginas-wrapper .webpagina .pageCAT {
  grid-column-start: 5;
}
main article section .title {
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #414850;
}

.form-group {
  width: 100%;
  display: flex;
  margin: 15px 0px;
}
.form-group label {
  width: 25%;
  padding: 10px 0px 10px 10px;
  background: #58616c;
  color: #fff;
  border-radius: 12px 0px 0px 12px;
}
.form-group input, .form-group textarea, .form-group select {
  width: 75%;
  padding: 5px 10px;
}/*# sourceMappingURL=cmsStyle.css.map */