@mixin mq($media) {
    @media only screen and (max-width: $media) { @content; }
}

@mixin mm($media) {
    @media only screen and (min-width: $media) { @content; }
}

@mixin mm-mx($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) { @content; }
}

$primary-color: #DDD;
$logo-color: #414850;
$secondary-color: $logo-color;
$white: #fff;
$groen: #95AEAB;
$donker-groen: #57918a;
$error: #a71b1b;
$font: 'Rosario', sans-serif;

body
{
    margin: 0 auto;
    scroll-behavior: smooth;
    font-family: $font;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar {
    background-color: $primary-color;
    color: $primary-color;
}
::-webkit-scrollbar-thumb {
    background-image: initial;
    background-color: $secondary-color;
}
.btn {
    padding: 8px 18px;
    background-color: $secondary-color;
    color: $white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    width: fit-content;
    font-size: 17px;
    text-decoration: none;
}
.open_menu {
    display: block !important;
}

.alert{
    padding: 10px;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    z-index: 100;
    height: 20px;

    &.alert-error{
        background: red;
        color: #fff;
    }

    &.alert-success {
        background: green;
        color: #fff;
    }
}

#login-main{
    height: 100%;
    width: 100%;
    #logincontainer{
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        
        .logologin{
            border-radius: 1rem;
        }

        .tab-group {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 30px 0 30px 0;
            justify-content: center;
            align-items: center;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            .tab {
                display: flex;
                text-decoration: none;
                padding: 15px;
                background:rgba(#DDD,.25);
                color: #DDD;
                width: 50%;
                font-size: 20px;
                text-align: center;
                cursor: pointer;
                transition: 0.5s ease;
                justify-content: center;

                &:first-of-type{
                    border-radius: 10px 0 0 10px;
                }
                &:last-of-type{
                    border-radius: 0 10px 10px 0;
                }

                &:hover {
                background:#333;
                color:$white;
                }

                &.active {
                    background:#333;
                    color:$white;
                }
            }              
        }
        
        .tab-content{
            .tab-pane {
                display: none;

                &.active {
                    display: block;
                }
            }
           #login_form, #register_form{
                .inlogkop{
                    text-align: center;
                    letter-spacing: 2px;
                    color: $white;
                }
                .foutlogin{
                    text-align: center;
                    padding-bottom: 12px;
                    color: $error;
                }
                .register-inner{
                    display: grid !important;
                    grid-template-columns: repeat(2, minmax(0, 1fr));

                    button{
                        grid-column: span 2 / span 2;
                        padding: 5px 15px !important;
                    }
                }
                .inlog-inner, .register-inner{
                    display: flex;
                    gap: 4px;
                    .logindiv, .registerdiv{
                        background: $logo-color;
                        padding: 12px;
                        position: relative;
                        display: flex;
                        gap: 10px;
                        border-radius: 5px;

                        .fa{
                            color: $white;

                            &.fa-eye{
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 20%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                            }
                        }
                        input{
                            background: transparent;
                            color: $white;
                            outline: none;
                            border: none;
                        }
                    }
                    button[type="submit"]{
                        border-radius: 5px;
                        padding: 0px 15px;
                        font-size: 18px;
                        border: none;
                        color: $white;
                        background: $logo-color;
                    }
                }
            } 
        }
        
    }
}
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    #topbar {
        display: flex;
        padding: 1rem;
        height: 98px;
        background-color: #41485085;
        align-items: center;
        justify-content: space-between;

        #logo{
            border-radius: 12px;
        }

        .right{
            display: flex;
            gap: 30px;
            margin: 0 40px;
            position: relative;
            top: 40px;

            #nieuw, #gebruiker{
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                .nieuw_menu, .gebruiker_menu {
                    position: relative;
                    padding-bottom: 3px;
                    
                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        content: "";
                        height: 2px;
                        width: 0;
                        background-color: $logo-color;
                        transition: width 0.3s;
                    }
                }
                .nieuw_opties, .gebruiker_opties {
                    transition: all 0.3s;
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    margin-top: 8px;

                    a{
                        padding: 5px 10px;
                        background: $primary-color;
                        width: 100%;
                        text-align: center;
                        border-radius: 6px;
                        text-decoration: none;
                        color: $secondary-color;
                        transition: all 0.3s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                &:hover{
                    .nieuw_menu, .gebruiker_menu {
                        &::after {
                            width: 110%;
                        }
                    }
                    .nieuw_opties, .gebruiker_opties {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
main {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    
    aside {
        position: fixed;
        background-color: $secondary-color;
        height: 100%;
        width: 20%;
        margin-top: 130px;
        border-radius: 0 12px 0 0;

        #hoofdmenu {
            list-style: none;
            padding: 0;
            margin: 0;

            #title {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1.25rem;
                font-size: 22px;
                color: $white;
            }

            li {
                background-color: lighten($secondary-color, 10%);
                border-top: solid 1px $white;
                width: 100%;
                overflow: hidden;

                &:hover{
                    box-shadow: 0px 0px 9px 0px $primary-color;
                }

                &:last-of-type {
                    border-bottom: solid 1px $white;
                }

                a{
                    position: relative;
                    color: $white;
                    text-decoration: none;
                    display: inline-flex;
                    gap: 10px;
                    font-size: 16px;
                    width: 100%;
                    padding: 1.5rem;
                    transition: all 0.3s;
                }               
            }
        }
    }
    article {
        grid-column: span 4 / span 4;
        grid-column-start: 2;
        margin-top: 130px;
        padding: 1rem 2rem 1rem 2rem;
        position: relative;

        .deleteIMG {
            height: 400px;
            width: 100%;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 12px; 
            }
        }

        .TerugBtn {
            padding: 8px 18px;
            background-color: $secondary-color;
            color: $white;
            border-radius: 12px;
            cursor: pointer;
            font-size: 20px;
            position: fixed;
            right: 1rem;
            bottom: 1rem;
        }

        .alert-success {
            position: absolute;
            right: 3rem;
            top: 2rem;
            background: green;
            padding: 0.75rem;
            border-radius: 5px;
            color: $primary-color;
        }

        section {
            &#paginaBewerken, &#Productbewerken {
                display: grid;
                grid-template-columns: repeat(5, minmax(0, 1fr));

                .left {
                    grid-column: span 3 / span 3;
                }
                .right {
                    grid-column: span 2 / span 2;

                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 2rem 2rem 1rem 2rem;

                        input[type="file"] {
                            position: relative;
                            height: 25px;
                            display: flex;
                            font-size: 18px;
                            padding: 10px;
                            &::-webkit-file-upload-button {
                                visibility: hidden;
                            }
                            
                            &::before {
                                content: "selecteren";
                                display: block;
                                background: $secondary-color;
                                color: $white;
                                font-size: 14px;
                                width: auto;
                                padding: 13px 25px 0px 25px;
                                border-radius: 0px 5px 5px 0px;
                                text-decoration: none;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                height: 100%;
                                box-sizing: border-box;
                                border: 0;
                                cursor: pointer;
                            }
                        }
                    }
                    .image-wrapper {
                        display: grid;
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                        grid-gap: 10px;
                        max-height: 300px;
                        overflow: scroll;
                        padding: 1rem 2rem 2rem 2rem;

                        .img {
                            position: relative;
                            height: 150px;
                            width: 190px;

                            img {
                                object-fit: cover;
                                border-radius: 12px;
                            }

                            .btn-delete {
                                position: absolute;
                                border-radius: 0 10px 0 10px;
                                top: 0%;
                                right: 0%;
                                background: $secondary-color;
                                color: $white;
                                padding: 6px;
                                font-size: 22px;
                            }
                        }
                    }
                }
            }

            .instellingen-wrapper{
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px 0;

                .settingTab{
                    position: relative;
                    display: flex;
                    font-size: 16px;
                    width: 75%;
                    height: 100%;

                    strong{
                        background: $primary-color;
                        padding: 20px;
                        border-radius: 10px 0 0 10px;
                    }
                    span{
                        padding: 20px;
                        background: $groen;
                        border-radius: 0 10px 10px 0;
                    }
                }
            }
            .gebruikers-wrapper{
                .gebruikerTab{
                    display: grid;
                    grid-template-columns: repeat(5, minmax(0, 1fr));

                    &:first-of-type{
                        background: $groen;
                        border-radius: 8px;
                        align-items: center;
                        margin-bottom: 10px;
                    }
                    .icon{
                        position: relative;
                        display: inline-block;
                        width: 32px;
                        height: 32px;

                        .fa{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        &.icon:before, &.icon:after {
                            content: "";
                            display: block;
                            position: absolute;
                        }

                        &.user{
                            &.user:before {
                                top: 25%;
                                left: 35%;
                                width: 30%;
                                height: 30%;
                                border: 2px solid #2B2B36;
                                border-radius: 50%;
                            }
                            &.user:after {
                                bottom: 11%;
                                left: 25%;
                                width: 50%;
                                height: 20%;
                                border-top: 2px solid #2B2B36;
                                border-left: 2px solid #2B2B36;
                                border-right: 2px solid #2B2B36;
                                border-top-left-radius: 20px;
                                border-top-right-radius: 20px;
                            }
                        }
                    }
                    .edit-buttons{
                        display: flex;
                        gap: 10px;

                        a{
                            &:hover {
                                i {
                                    transform: scale(1.1);
                                }
                            }
                            i {
                                font-size: 30px;
                                color: $white;
                            }

                            &:last-of-type{
                                i{
                                    color: $error;
                                }
                            }
                        }
                    }
                }
            }
            .dashboard-wrapper{
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(3, minmax(0, 1fr));

                .dashTab{
                    height: 150px;
                    background: $groen;
                    border-radius: 12px;
                    font-size: 30px;
                    color: $white;
                    text-decoration: none;
                    display: flex;
                    gap: 10px;
                    width: auto;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    transition: all 0.3s;

                    &:hover{
                        transform: scale(0.9);

                        i{
                            transform: rotate(180deg);
                        }
                    }

                    i{
                        transform: rotate(0deg);
                        transition: all 0.6s;
                    }
                }
            }

            &#webpaginas {
                #webpaginas-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;  
                    height: 450px;
                    overflow-y: scroll;

                    .webpagina {
                        display: grid;
                        grid-template-columns: repeat(8, minmax(0, 1fr));
                        grid-gap: 30px;
                        align-items: center;
                        justify-items: center;
        
                        .page{
                            &IMG{
                                height: 75px;
                                width: 80px;
        
                                img{
                                    object-fit: cover;
                                    border-radius: 12px;
                                }
                            }
                            &TITLE {
                                text-align: center;
                            }
                            &CAT{
                                grid-column-start: 5;
                            }
                            &EDIT{
                                &:hover {
                                    i {
                                        transform: scale(1.1);
                                    }
                                }
                                i {
                                    font-size: 30px;
                                    color: $white;
                                }
                            }
                        }
                    }
                }

                .webpaginaTitels {
                    display: grid;
                    grid-template-columns: repeat(8, minmax(0, 1fr));
                    grid-gap: 30px;
                    align-items: center;
                    justify-items: center;
                    padding-bottom: 20px;
    
                    >div {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .page{
                        &IMG{
                            height: auto;
                            width: auto;
    
                            img{
                                object-fit: cover;
                                border-radius: 12px;
                            }
                        }
                        &CAT{
                            grid-column-start: 5;
                        }
                    }
                }
            }

            &#producten {
                #producten-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;  
                    height: 425px;
                    overflow-y: scroll;

                    .product {
                        display: grid;
                        grid-template-columns: repeat(9, minmax(0, 1fr));
                        grid-gap: 30px;
                        align-items: center;
                        justify-items: center;
        
                        .page{
                            transition: all 0.3s;
                            &IMG{
                                height: 75px;
                                width: 80px;
        
                                img{
                                    object-fit: cover;
                                    border-radius: 12px;
                                }
                            }
                            &CAT{
                                grid-column-start: 4;
                            }
                            &URL{
                                grid-column: span 2 / span 2;
                            }
                            &EDIT{
                                &:hover {
                                    i {
                                        transform: scale(1.1);
                                    }
                                }
                                i {
                                    font-size: 30px;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                .productTitle {
                    display: grid;
                    grid-template-columns: repeat(9, minmax(0, 1fr));
                    grid-gap: 30px;
                    align-items: center;
                    justify-items: center;
                    padding-bottom: 20px;
    
                    >div {
                        font-size: 18px;
                        font-weight: 600;
                    }
                        
                    .page{
                        transition: all 0.3s;
                        &IMG{
                            height: auto;
                            width: auto;
    
                            img{
                                object-fit: cover;
                                border-radius: 12px;
                            }
                        }
                        &CAT{
                            grid-column-start: 4;
                        }
                        &URL{
                            grid-column: span 2 / span 2;
                        }
                    }
                }
            }

            &#reviews {
                #reviews-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;  
                    height: 425px;
                    overflow-y: scroll;

                    .review {
                        display: grid;
                        grid-template-columns: repeat(10, minmax(0, 1fr));
                        grid-gap: 30px;
                        align-items: center;
                        justify-items: center;
        
                        .page{
                            transition: all 0.3s;
                            &TITLE{
                                grid-column: span 2 / span 2;
                            }
                            &CAT{
                                grid-column-start: 5;
                            }
                            &URL{
                                grid-column: span 3 / span 3;
                            }
                            &EDIT{
                                &:hover {
                                    i {
                                        transform: scale(1.1);
                                    }
                                }
                                i {
                                    font-size: 30px;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                .reviewTitels {
                    display: grid;
                    grid-template-columns: repeat(10, minmax(0, 1fr));
                    grid-gap: 30px;
                    align-items: center;
                    justify-items: center;
                    padding-bottom: 20px;
    
                    >div {
                        font-size: 18px;
                        font-weight: 600;
                    }
                        
                    .page{
                        transition: all 0.3s;
                        &TITLE{
                            grid-column: span 2 / span 2;
                        }
                        &CAT{
                            grid-column-start: 5;
                        }
                        &URL{
                            grid-column: span 3 / span 3;
                        }
                    }
                }
            }

            &#bestelling{
                .orders {
                    overflow-y: scroll;
                    height: 475px;
                    padding-right: 1rem;

                    ::-webkit-scrollbar {
                        background-color: $groen;
                        color: $donker-groen;
                    }
                    ::-webkit-scrollbar-thumb {
                        background-image: initial;
                        background-color: $groen;
                    }
                }
                #orderTab{
                    background: $groen;
                    padding: 0.5rem 2rem;
                    border-radius: 0.5rem;
                    margin-bottom: 20px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    .bestelling-fiets{
                        display: grid;
                        grid-template-columns: 60px 200px 1fr 1fr 1fr;
                        grid-gap: 30px;
                        justify-items: center;
                        margin: 10px 0;
                        align-items: center;

                        img {
                            height: 100%;
                            width: 100%;
                            border-radius: 0.5rem;
                        }

                        .PrijsPproduct{
                            text-decoration: line-through;
                        }

                        #item-verwijderen {
                            font-size: 30px;
                            color: $white;
                        }
                    }

                    .order-details {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 1rem 0;

                        #bestelling-wijzigen {
                            position: absolute;
                            right: 0rem;
                            bottom: 2rem;

                            &:hover {
                                i {
                                    transform: scale(1.1);
                                }
                            }
                            i {
                                font-size: 30px;
                                color: $white;
                            }
                        }
                    }
                }
            }

            .title {
                font-size: 26px;
                font-weight: 500;
                padding-bottom: 0.5rem;
                margin-bottom: 1rem;
                border-bottom: 2px solid $secondary-color;
            }
        }
    }
}

.form-group {
    width: 100%;
    display: flex;
    margin: 15px 0px;
    label{
        width: 25%;
        padding: 10px 0px 10px 10px;
        background: #58616c;
        color: $white;
        border-radius: 12px 0px 0px 12px;
    }
    input,textarea,select {
        width: 75%;
        padding: 5px 10px;
        font-family: $font;
        resize: none;
    }
}

#reparatie-select {
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 16px;
}
