body {
  margin: 0 auto;
  scroll-behavior: smooth;
  font-family: "Rosario", sans-serif;
}

.open_menu {
  display: block !important;
}

#login-main {
  height: 100%;
  width: 100%;
}
#login-main #logincontainer {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
#login-main #logincontainer #login_form .logologin {
  border-radius: 1rem;
}
#login-main #logincontainer #login_form .inlogkop {
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}
#login-main #logincontainer #login_form .foutlogin {
  text-align: center;
  padding-bottom: 12px;
  color: #a71b1b;
}
#login-main #logincontainer #login_form .inlog-inner {
  display: flex;
  gap: 4px;
}
#login-main #logincontainer #login_form .inlog-inner .logindiv {
  background: #414850;
  padding: 12px;
  position: relative;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}
#login-main #logincontainer #login_form .inlog-inner .logindiv .fa {
  color: #fff;
}
#login-main #logincontainer #login_form .inlog-inner .logindiv .fa.fa-eye {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#login-main #logincontainer #login_form .inlog-inner .logindiv input {
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
}
#login-main #logincontainer #login_form .inlog-inner button[type=submit] {
  border-radius: 5px;
  padding: 0px 15px;
  font-size: 18px;
  border: none;
  color: #fff;
  background: #414850;
}

header #topbar {
  display: flex;
  padding: 1rem;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
header #topbar #logo {
  border-radius: 12px;
}
header #topbar .right {
  display: flex;
  gap: 30px;
  margin: 0 40px;
}
header #topbar .right #nieuw, header #topbar .right #gebruiker {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
header #topbar .right #nieuw .nieuw_opties, header #topbar .right #nieuw .gebruiker_opties, header #topbar .right #gebruiker .nieuw_opties, header #topbar .right #gebruiker .gebruiker_opties {
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-top: 8px;
}
header #topbar .right #nieuw .nieuw_opties a, header #topbar .right #nieuw .gebruiker_opties a, header #topbar .right #gebruiker .nieuw_opties a, header #topbar .right #gebruiker .gebruiker_opties a {
  padding: 5px 10px;
  background: #DDD;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  color: #414850;
  transition: all 0.3s;
}
header #topbar .right #nieuw .nieuw_opties a:hover, header #topbar .right #nieuw .gebruiker_opties a:hover, header #topbar .right #gebruiker .nieuw_opties a:hover, header #topbar .right #gebruiker .gebruiker_opties a:hover {
  transform: scale(1.1);
}
header #topbar .right #nieuw:hover .nieuw_opties, header #topbar .right #nieuw:hover .gebruiker_opties, header #topbar .right #gebruiker:hover .nieuw_opties, header #topbar .right #gebruiker:hover .gebruiker_opties {
  opacity: 1;
}

main {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
main article {
  grid-column: span 4/span 4;
}