@mixin mq($media) {
    @media only screen and (max-width: $media) { @content; }
}

@mixin mm($media) {
    @media only screen and (min-width: $media) { @content; }
}

@mixin mm-mx($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) { @content; }
}

$primary-color: #DDD;
$logo-color: #414850;
$secondary-color: $logo-color;
$white: #fff;
$error: #a71b1b;
$font: 'Rosario', sans-serif;

body
{
    margin: 0 auto;
    scroll-behavior: smooth;
    font-family: $font;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar {
    background-color: $primary-color;
    color: $primary-color;
}
::-webkit-scrollbar-thumb {
    background-image: initial;
    background-color: $secondary-color;
}
.btn {
    padding: 8px 18px;
    background-color: $secondary-color;
    color: $white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    width: fit-content;
    font-size: 17px;
    text-decoration: none;
}
.open_menu {
    display: block !important;
}
#login-main{
    height: 100%;
    width: 100%;
    #logincontainer{
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;

        #login_form{
            .logologin{
                border-radius: 1rem;
            }
            .inlogkop{
                text-align: center;
                letter-spacing: 2px;
                color: $white;
            }
            .foutlogin{
                text-align: center;
                padding-bottom: 12px;
                color: $error;
            }
            .inlog-inner{
                display: flex;
                gap: 4px;
                .logindiv{
                    background: $logo-color;
                    padding: 12px;
                    position: relative;
                    display: flex;
                    gap: 10px;
                    border-radius: 5px;

                    .fa{
                        color: $white;

                        &.fa-eye{
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 20%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }
                    }
                    input{
                        background: transparent;
                        color: $white;
                        outline: none;
                        border: none;
                    }
                }
                button[type="submit"]{
                    border-radius: 5px;
                    padding: 0px 15px;
                    font-size: 18px;
                    border: none;
                    color: $white;
                    background: $logo-color;
                }
            }
        }
    }
}
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    #topbar {
        display: flex;
        padding: 1rem;
        height: 98px;
        background-color: #41485085;
        align-items: center;
        justify-content: space-between;

        #logo{
            border-radius: 12px;
        }

        .right{
            display: flex;
            gap: 30px;
            margin: 0 40px;

            #nieuw, #gebruiker{
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                .nieuw_menu, .gebruiker_menu {
                    position: relative;
                    padding-bottom: 3px;
                    
                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        content: "";
                        height: 2px;
                        width: 0;
                        background-color: $logo-color;
                        transition: width 0.3s;
                    }
                }
                .nieuw_opties, .gebruiker_opties {
                    transition: all 0.3s;
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    margin-top: 8px;

                    a{
                        padding: 5px 10px;
                        background: $primary-color;
                        width: 100%;
                        text-align: center;
                        border-radius: 6px;
                        text-decoration: none;
                        color: $secondary-color;
                        transition: all 0.3s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                &:hover{
                    .nieuw_menu, .gebruiker_menu {
                        &::after {
                            width: 110%;
                        }
                    }
                    .nieuw_opties, .gebruiker_opties {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
main {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    
    aside {
        position: fixed;
        background-color: $secondary-color;
        height: 100%;
        width: 20%;
        margin-top: 130px;
        border-radius: 0 12px 0 0;

        #hoofdmenu {
            list-style: none;
            padding: 0;
            margin: 0;

            #title {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1.25rem;
                font-size: 22px;
                color: $white;
            }

            li {
                background-color: lighten($secondary-color, 10%);
                border-top: solid 1px $white;

                &:last-of-type {
                    border-bottom: solid 1px $white;
                }

                a{
                    position: relative;
                    color: $white;
                    text-decoration: none;
                    display: inline-flex;
                    gap: 10px;
                    font-size: 16px;
                    width: 84%;
                    padding: 1.5rem;
                    transition: all 0.3s;

                    &:hover{
                        box-shadow: 0px 0px 9px 0px $primary-color;
                    }
                }               
            }
        }
    }
    article {
        grid-column: span 4 / span 4;
        grid-column-start: 2;
        margin-top: 130px;
        padding: 1rem 2rem 1rem 2rem;
        position: relative;

        .TerugBtn {
            padding: 8px 18px;
            background-color: $secondary-color;
            color: $white;
            border-radius: 12px;
            cursor: pointer;
            font-size: 20px;
            position: fixed;
            right: 1rem;
            bottom: 1rem;
        }

        section {
            &#paginaBewerken {
                display: grid;
                grid-template-columns: repeat(5, minmax(0, 1fr));

                .left {
                    grid-column: span 3 / span 3;
                }
                .right {
                    grid-column: span 2 / span 2;

                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 2rem 2rem 1rem 2rem;

                        input[type="file"] {
                            position: relative;
                            height: 25px;
                            display: flex;
                            font-size: 18px;
                            padding: 10px;
                            &::-webkit-file-upload-button {
                                visibility: hidden;
                            }
                            
                            &::before {
                                content: "selecteren";
                                display: block;
                                background: $secondary-color;
                                color: $white;
                                font-size: 14px;
                                width: auto;
                                padding: 13px 25px 0px 25px;
                                border-radius: 0px 5px 5px 0px;
                                text-decoration: none;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                height: 100%;
                                box-sizing: border-box;
                                border: 0;
                                cursor: pointer;
                            }
                        }
                    }
                    .image-wrapper {
                        display: grid;
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                        grid-gap: 10px;
                        max-height: 300px;
                        overflow: scroll;
                        padding: 1rem 2rem 2rem 2rem;

                        .img {
                            height: 150px;
                            width: 190px;

                            img {
                                object-fit: cover;
                                border-radius: 12px;
                            }
                        }
                    }
                }
            }

            &#webpaginas {
                #webpaginas-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;  

                    .webpagina {
                        display: grid;
                        grid-template-columns: repeat(8, minmax(0, 1fr));
                        grid-gap: 30px;
                        align-items: center;
                        justify-items: center;
        
                        &:first-of-type {
                            >div {
                                font-size: 18px;
                                font-weight: 600;
                            }
                            .pageIMG{
                                height: auto;
                                width: auto;
                            }
                        }
        
                        .page{
                            &IMG{
                                height: 110px;
                                width: 110px;
        
                                img{
                                    object-fit: cover;
                                    border-radius: 12px;
                                }
                            }
                            &CAT{
                                grid-column-start: 5;
                            }
                        }
                    }
                }
            }

            .title {
                font-size: 26px;
                font-weight: 500;
                padding-bottom: 0.5rem;
                margin-bottom: 1rem;
                border-bottom: 2px solid $secondary-color;
            }
        }
    }
}

.form-group {
    width: 100%;
    display: flex;
    margin: 15px 0px;
    label{
        width: 25%;
        padding: 10px 0px 10px 10px;
        background: #58616c;
        color: $white;
        border-radius: 12px 0px 0px 12px;
    }
    input,textarea,select {
        width: 75%;
        padding: 5px 10px;
    }
}
