body {
  margin: 0 auto;
  scroll-behavior: smooth;
  font-family: "Rosario", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar {
  background-color: #DDD;
  color: #DDD;
}

::-webkit-scrollbar-thumb {
  background-image: initial;
  background-color: #414850;
}

.btn {
  padding: 8px 18px;
  background-color: #414850;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  width: fit-content;
  font-size: 17px;
  text-decoration: none;
}

.open_menu {
  display: block !important;
}

.alert {
  padding: 10px;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  z-index: 100;
  height: 20px;
}
.alert.alert-error {
  background: red;
  color: #fff;
}
.alert.alert-success {
  background: green;
  color: #fff;
}

#login-main {
  height: 100%;
  width: 100%;
}
#login-main #logincontainer {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
#login-main #logincontainer .logologin {
  border-radius: 1rem;
}
#login-main #logincontainer .tab-group {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 30px 0 30px 0;
  justify-content: center;
  align-items: center;
}
#login-main #logincontainer .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
#login-main #logincontainer .tab-group .tab {
  display: flex;
  text-decoration: none;
  padding: 15px;
  background: rgba(221, 221, 221, 0.25);
  color: #DDD;
  width: 50%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
  justify-content: center;
}
#login-main #logincontainer .tab-group .tab:first-of-type {
  border-radius: 10px 0 0 10px;
}
#login-main #logincontainer .tab-group .tab:last-of-type {
  border-radius: 0 10px 10px 0;
}
#login-main #logincontainer .tab-group .tab:hover {
  background: #333;
  color: #fff;
}
#login-main #logincontainer .tab-group .tab.active {
  background: #333;
  color: #fff;
}
#login-main #logincontainer .tab-content .tab-pane {
  display: none;
}
#login-main #logincontainer .tab-content .tab-pane.active {
  display: block;
}
#login-main #logincontainer .tab-content #login_form .inlogkop, #login-main #logincontainer .tab-content #register_form .inlogkop {
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}
#login-main #logincontainer .tab-content #login_form .foutlogin, #login-main #logincontainer .tab-content #register_form .foutlogin {
  text-align: center;
  padding-bottom: 12px;
  color: #a71b1b;
}
#login-main #logincontainer .tab-content #login_form .register-inner, #login-main #logincontainer .tab-content #register_form .register-inner {
  display: grid !important;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
#login-main #logincontainer .tab-content #login_form .register-inner button, #login-main #logincontainer .tab-content #register_form .register-inner button {
  grid-column: span 2/span 2;
  padding: 5px 15px !important;
}
#login-main #logincontainer .tab-content #login_form .inlog-inner, #login-main #logincontainer .tab-content #login_form .register-inner, #login-main #logincontainer .tab-content #register_form .inlog-inner, #login-main #logincontainer .tab-content #register_form .register-inner {
  display: flex;
  gap: 4px;
}
#login-main #logincontainer .tab-content #login_form .inlog-inner .logindiv, #login-main #logincontainer .tab-content #login_form .inlog-inner .registerdiv, #login-main #logincontainer .tab-content #login_form .register-inner .logindiv, #login-main #logincontainer .tab-content #login_form .register-inner .registerdiv, #login-main #logincontainer .tab-content #register_form .inlog-inner .logindiv, #login-main #logincontainer .tab-content #register_form .inlog-inner .registerdiv, #login-main #logincontainer .tab-content #register_form .register-inner .logindiv, #login-main #logincontainer .tab-content #register_form .register-inner .registerdiv {
  background: #414850;
  padding: 12px;
  position: relative;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}
#login-main #logincontainer .tab-content #login_form .inlog-inner .logindiv .fa, #login-main #logincontainer .tab-content #login_form .inlog-inner .registerdiv .fa, #login-main #logincontainer .tab-content #login_form .register-inner .logindiv .fa, #login-main #logincontainer .tab-content #login_form .register-inner .registerdiv .fa, #login-main #logincontainer .tab-content #register_form .inlog-inner .logindiv .fa, #login-main #logincontainer .tab-content #register_form .inlog-inner .registerdiv .fa, #login-main #logincontainer .tab-content #register_form .register-inner .logindiv .fa, #login-main #logincontainer .tab-content #register_form .register-inner .registerdiv .fa {
  color: #fff;
}
#login-main #logincontainer .tab-content #login_form .inlog-inner .logindiv .fa.fa-eye, #login-main #logincontainer .tab-content #login_form .inlog-inner .registerdiv .fa.fa-eye, #login-main #logincontainer .tab-content #login_form .register-inner .logindiv .fa.fa-eye, #login-main #logincontainer .tab-content #login_form .register-inner .registerdiv .fa.fa-eye, #login-main #logincontainer .tab-content #register_form .inlog-inner .logindiv .fa.fa-eye, #login-main #logincontainer .tab-content #register_form .inlog-inner .registerdiv .fa.fa-eye, #login-main #logincontainer .tab-content #register_form .register-inner .logindiv .fa.fa-eye, #login-main #logincontainer .tab-content #register_form .register-inner .registerdiv .fa.fa-eye {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#login-main #logincontainer .tab-content #login_form .inlog-inner .logindiv input, #login-main #logincontainer .tab-content #login_form .inlog-inner .registerdiv input, #login-main #logincontainer .tab-content #login_form .register-inner .logindiv input, #login-main #logincontainer .tab-content #login_form .register-inner .registerdiv input, #login-main #logincontainer .tab-content #register_form .inlog-inner .logindiv input, #login-main #logincontainer .tab-content #register_form .inlog-inner .registerdiv input, #login-main #logincontainer .tab-content #register_form .register-inner .logindiv input, #login-main #logincontainer .tab-content #register_form .register-inner .registerdiv input {
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
}
#login-main #logincontainer .tab-content #login_form .inlog-inner button[type=submit], #login-main #logincontainer .tab-content #login_form .register-inner button[type=submit], #login-main #logincontainer .tab-content #register_form .inlog-inner button[type=submit], #login-main #logincontainer .tab-content #register_form .register-inner button[type=submit] {
  border-radius: 5px;
  padding: 0px 15px;
  font-size: 18px;
  border: none;
  color: #fff;
  background: #414850;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
}
header #topbar {
  display: flex;
  padding: 1rem;
  height: 98px;
  background-color: rgba(65, 72, 80, 0.5215686275);
  align-items: center;
  justify-content: space-between;
}
header #topbar #logo {
  border-radius: 12px;
}
header #topbar .right {
  display: flex;
  gap: 30px;
  margin: 0 40px;
  position: relative;
  top: 40px;
}
header #topbar .right #nieuw, header #topbar .right #gebruiker {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
header #topbar .right #nieuw .nieuw_menu, header #topbar .right #nieuw .gebruiker_menu, header #topbar .right #gebruiker .nieuw_menu, header #topbar .right #gebruiker .gebruiker_menu {
  position: relative;
  padding-bottom: 3px;
}
header #topbar .right #nieuw .nieuw_menu::after, header #topbar .right #nieuw .gebruiker_menu::after, header #topbar .right #gebruiker .nieuw_menu::after, header #topbar .right #gebruiker .gebruiker_menu::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 2px;
  width: 0;
  background-color: #414850;
  transition: width 0.3s;
}
header #topbar .right #nieuw .nieuw_opties, header #topbar .right #nieuw .gebruiker_opties, header #topbar .right #gebruiker .nieuw_opties, header #topbar .right #gebruiker .gebruiker_opties {
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-top: 8px;
}
header #topbar .right #nieuw .nieuw_opties a, header #topbar .right #nieuw .gebruiker_opties a, header #topbar .right #gebruiker .nieuw_opties a, header #topbar .right #gebruiker .gebruiker_opties a {
  padding: 5px 10px;
  background: #DDD;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  color: #414850;
  transition: all 0.3s;
}
header #topbar .right #nieuw .nieuw_opties a:hover, header #topbar .right #nieuw .gebruiker_opties a:hover, header #topbar .right #gebruiker .nieuw_opties a:hover, header #topbar .right #gebruiker .gebruiker_opties a:hover {
  transform: scale(1.1);
}
header #topbar .right #nieuw:hover .nieuw_menu::after, header #topbar .right #nieuw:hover .gebruiker_menu::after, header #topbar .right #gebruiker:hover .nieuw_menu::after, header #topbar .right #gebruiker:hover .gebruiker_menu::after {
  width: 110%;
}
header #topbar .right #nieuw:hover .nieuw_opties, header #topbar .right #nieuw:hover .gebruiker_opties, header #topbar .right #gebruiker:hover .nieuw_opties, header #topbar .right #gebruiker:hover .gebruiker_opties {
  opacity: 1;
}

main {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
main aside {
  position: fixed;
  background-color: #414850;
  height: 100%;
  width: 20%;
  margin-top: 130px;
  border-radius: 0 12px 0 0;
}
main aside #hoofdmenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
main aside #hoofdmenu #title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  font-size: 22px;
  color: #fff;
}
main aside #hoofdmenu li {
  background-color: #58616c;
  border-top: solid 1px #fff;
  width: 100%;
  overflow: hidden;
}
main aside #hoofdmenu li:hover {
  box-shadow: 0px 0px 9px 0px #DDD;
}
main aside #hoofdmenu li:last-of-type {
  border-bottom: solid 1px #fff;
}
main aside #hoofdmenu li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  gap: 10px;
  font-size: 16px;
  width: 100%;
  padding: 1.5rem;
  transition: all 0.3s;
}
main article {
  grid-column: span 4/span 4;
  grid-column-start: 2;
  margin-top: 130px;
  padding: 1rem 2rem 1rem 2rem;
  position: relative;
}
main article .deleteIMG {
  height: 400px;
  width: 100%;
}
main article .deleteIMG img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
main article .TerugBtn {
  padding: 8px 18px;
  background-color: #414850;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
main article .alert-success {
  position: absolute;
  right: 3rem;
  top: 2rem;
  background: green;
  padding: 0.75rem;
  border-radius: 5px;
  color: #DDD;
}
main article section#paginaBewerken, main article section#Productbewerken {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
main article section#paginaBewerken .left, main article section#Productbewerken .left {
  grid-column: span 3/span 3;
}
main article section#paginaBewerken .right, main article section#Productbewerken .right {
  grid-column: span 2/span 2;
}
main article section#paginaBewerken .right form, main article section#Productbewerken .right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem 2rem 1rem 2rem;
}
main article section#paginaBewerken .right form input[type=file], main article section#Productbewerken .right form input[type=file] {
  position: relative;
  height: 25px;
  display: flex;
  font-size: 18px;
  padding: 10px;
}
main article section#paginaBewerken .right form input[type=file]::-webkit-file-upload-button, main article section#Productbewerken .right form input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
main article section#paginaBewerken .right form input[type=file]::before, main article section#Productbewerken .right form input[type=file]::before {
  content: "selecteren";
  display: block;
  background: #414850;
  color: #fff;
  font-size: 14px;
  width: auto;
  padding: 13px 25px 0px 25px;
  border-radius: 0px 5px 5px 0px;
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
}
main article section#paginaBewerken .right .image-wrapper, main article section#Productbewerken .right .image-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
  max-height: 300px;
  overflow: scroll;
  padding: 1rem 2rem 2rem 2rem;
}
main article section#paginaBewerken .right .image-wrapper .img, main article section#Productbewerken .right .image-wrapper .img {
  position: relative;
  height: 150px;
  width: 190px;
}
main article section#paginaBewerken .right .image-wrapper .img img, main article section#Productbewerken .right .image-wrapper .img img {
  object-fit: cover;
  border-radius: 12px;
}
main article section#paginaBewerken .right .image-wrapper .img .btn-delete, main article section#Productbewerken .right .image-wrapper .img .btn-delete {
  position: absolute;
  border-radius: 0 10px 0 10px;
  top: 0%;
  right: 0%;
  background: #414850;
  color: #fff;
  padding: 6px;
  font-size: 22px;
}
main article section .instellingen-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
main article section .instellingen-wrapper .settingTab {
  position: relative;
  display: flex;
  font-size: 16px;
  width: 75%;
  height: 100%;
}
main article section .instellingen-wrapper .settingTab strong {
  background: #DDD;
  padding: 20px;
  border-radius: 10px 0 0 10px;
}
main article section .instellingen-wrapper .settingTab span {
  padding: 20px;
  background: #95AEAB;
  border-radius: 0 10px 10px 0;
}
main article section .gebruikers-wrapper .gebruikerTab {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
main article section .gebruikers-wrapper .gebruikerTab:first-of-type {
  background: #95AEAB;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 10px;
}
main article section .gebruikers-wrapper .gebruikerTab .icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
}
main article section .gebruikers-wrapper .gebruikerTab .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main article section .gebruikers-wrapper .gebruikerTab .icon.icon:before, main article section .gebruikers-wrapper .gebruikerTab .icon.icon:after {
  content: "";
  display: block;
  position: absolute;
}
main article section .gebruikers-wrapper .gebruikerTab .icon.user.user:before {
  top: 25%;
  left: 35%;
  width: 30%;
  height: 30%;
  border: 2px solid #2B2B36;
  border-radius: 50%;
}
main article section .gebruikers-wrapper .gebruikerTab .icon.user.user:after {
  bottom: 11%;
  left: 25%;
  width: 50%;
  height: 20%;
  border-top: 2px solid #2B2B36;
  border-left: 2px solid #2B2B36;
  border-right: 2px solid #2B2B36;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
main article section .gebruikers-wrapper .gebruikerTab .edit-buttons {
  display: flex;
  gap: 10px;
}
main article section .gebruikers-wrapper .gebruikerTab .edit-buttons a:hover i {
  transform: scale(1.1);
}
main article section .gebruikers-wrapper .gebruikerTab .edit-buttons a i {
  font-size: 30px;
  color: #fff;
}
main article section .gebruikers-wrapper .gebruikerTab .edit-buttons a:last-of-type i {
  color: #a71b1b;
}
main article section .dashboard-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
main article section .dashboard-wrapper .dashTab {
  height: 150px;
  background: #95AEAB;
  border-radius: 12px;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 10px;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.3s;
}
main article section .dashboard-wrapper .dashTab:hover {
  transform: scale(0.9);
}
main article section .dashboard-wrapper .dashTab:hover i {
  transform: rotate(180deg);
}
main article section .dashboard-wrapper .dashTab i {
  transform: rotate(0deg);
  transition: all 0.6s;
}
main article section#webpaginas #webpaginas-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 450px;
  overflow-y: scroll;
}
main article section#webpaginas #webpaginas-wrapper .webpagina {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
}
main article section#webpaginas #webpaginas-wrapper .webpagina .pageIMG {
  height: 75px;
  width: 80px;
}
main article section#webpaginas #webpaginas-wrapper .webpagina .pageIMG img {
  object-fit: cover;
  border-radius: 12px;
}
main article section#webpaginas #webpaginas-wrapper .webpagina .pageTITLE {
  text-align: center;
}
main article section#webpaginas #webpaginas-wrapper .webpagina .pageCAT {
  grid-column-start: 5;
}
main article section#webpaginas #webpaginas-wrapper .webpagina .pageEDIT:hover i {
  transform: scale(1.1);
}
main article section#webpaginas #webpaginas-wrapper .webpagina .pageEDIT i {
  font-size: 30px;
  color: #fff;
}
main article section#webpaginas .webpaginaTitels {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  padding-bottom: 20px;
}
main article section#webpaginas .webpaginaTitels > div {
  font-size: 18px;
  font-weight: 600;
}
main article section#webpaginas .webpaginaTitels .pageIMG {
  height: auto;
  width: auto;
}
main article section#webpaginas .webpaginaTitels .pageIMG img {
  object-fit: cover;
  border-radius: 12px;
}
main article section#webpaginas .webpaginaTitels .pageCAT {
  grid-column-start: 5;
}
main article section#producten #producten-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 425px;
  overflow-y: scroll;
}
main article section#producten #producten-wrapper .product {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
}
main article section#producten #producten-wrapper .product .page {
  transition: all 0.3s;
}
main article section#producten #producten-wrapper .product .pageIMG {
  height: 75px;
  width: 80px;
}
main article section#producten #producten-wrapper .product .pageIMG img {
  object-fit: cover;
  border-radius: 12px;
}
main article section#producten #producten-wrapper .product .pageCAT {
  grid-column-start: 4;
}
main article section#producten #producten-wrapper .product .pageURL {
  grid-column: span 2/span 2;
}
main article section#producten #producten-wrapper .product .pageEDIT:hover i {
  transform: scale(1.1);
}
main article section#producten #producten-wrapper .product .pageEDIT i {
  font-size: 30px;
  color: #fff;
}
main article section#producten .productTitle {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  padding-bottom: 20px;
}
main article section#producten .productTitle > div {
  font-size: 18px;
  font-weight: 600;
}
main article section#producten .productTitle .page {
  transition: all 0.3s;
}
main article section#producten .productTitle .pageIMG {
  height: auto;
  width: auto;
}
main article section#producten .productTitle .pageIMG img {
  object-fit: cover;
  border-radius: 12px;
}
main article section#producten .productTitle .pageCAT {
  grid-column-start: 4;
}
main article section#producten .productTitle .pageURL {
  grid-column: span 2/span 2;
}
main article section#reviews #reviews-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 425px;
  overflow-y: scroll;
}
main article section#reviews #reviews-wrapper .review {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
}
main article section#reviews #reviews-wrapper .review .page {
  transition: all 0.3s;
}
main article section#reviews #reviews-wrapper .review .pageEDIT:hover i {
  transform: scale(1.1);
}
main article section#reviews #reviews-wrapper .review .pageEDIT i {
  font-size: 30px;
  color: #fff;
}
main article section#reviews .reviewTitels {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  padding-bottom: 20px;
}
main article section#reviews .reviewTitels > div {
  font-size: 18px;
  font-weight: 600;
}
main article section#reviews .reviewTitels .page {
  transition: all 0.3s;
}
main article section#reparatie-overzicht {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
main article section#reparatie-overzicht .header {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  padding-bottom: 10px;
}
main article section#reparatie-overzicht .header #naam {
  grid-column: span 2/span 2;
}
main article section#reparatie-overzicht .header p {
  margin: 0;
  grid-column: span 2/span 2;
}
main article section#reparatie-overzicht .header #naam, main article section#reparatie-overzicht .header p, main article section#reparatie-overzicht .header .counter {
  font-weight: 600;
}
main article section#reparatie-overzicht .reparatie-tab .inner {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  align-items: center;
}
main article section#reparatie-overzicht .reparatie-tab .inner #naam {
  grid-column: span 2/span 2;
}
main article section#reparatie-overzicht .reparatie-tab .inner p {
  margin: 0;
  grid-column: span 2/span 2;
}
main article section .actief {
  color: rgb(0, 132, 0);
}
main article section .niet-actief {
  color: rgb(255, 0, 0);
}
main article section#bestelling .orders {
  overflow-y: scroll;
  height: 475px;
  padding-right: 1rem;
}
main article section#bestelling .orders ::-webkit-scrollbar {
  background-color: #95AEAB;
  color: #57918a;
}
main article section#bestelling .orders ::-webkit-scrollbar-thumb {
  background-image: initial;
  background-color: #95AEAB;
}
main article section#bestelling #orderTab {
  background: #95AEAB;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}
main article section#bestelling #orderTab:last-of-type {
  margin-bottom: 0;
}
main article section#bestelling #orderTab .bestelling-fiets {
  display: grid;
  grid-template-columns: 60px 200px 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
  margin: 10px 0;
  align-items: center;
}
main article section#bestelling #orderTab .bestelling-fiets img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
main article section#bestelling #orderTab .bestelling-fiets .PrijsPproduct {
  text-decoration: line-through;
}
main article section#bestelling #orderTab .bestelling-fiets #item-verwijderen {
  font-size: 30px;
  color: #fff;
}
main article section#bestelling #orderTab .order-details {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 0;
}
main article section#bestelling #orderTab .order-details #bestelling-wijzigen {
  position: absolute;
  right: 0rem;
  bottom: 2rem;
}
main article section#bestelling #orderTab .order-details #bestelling-wijzigen:hover i {
  transform: scale(1.1);
}
main article section#bestelling #orderTab .order-details #bestelling-wijzigen i {
  font-size: 30px;
  color: #fff;
}
main article section .title {
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #414850;
}

.form-group {
  width: 100%;
  display: flex;
  margin: 15px 0px;
}
.form-group label {
  width: 25%;
  padding: 10px 0px 10px 10px;
  background: #58616c;
  color: #fff;
  border-radius: 12px 0px 0px 12px;
}
.form-group input, .form-group textarea, .form-group select {
  width: 75%;
  padding: 5px 10px;
  font-family: "Rosario", sans-serif;
  resize: none;
}

.fietsRepairs {
  background-color: #57918a;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.fietsRepairs p {
  font-size: 20px;
}
.fietsRepairs img {
  height: 300px;
}

#reparatie-select {
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 16px;
}